*.dll
*.exe
*.obj
*.tds
*.~*
*.exp
*.ilk
*.pdb
*.opensdf
*.sdf
*.log
*.suo
*.tlog
*.idb
*.i
*.i-*
*.user
*.psess
*.vsp
*.opendb
*.db
*.ipdb
*.iobj
*.res
*.aps
*.cache
GeneratedFiles
*.txt
*.ipch
*.recipe
